services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: docking
      POSTGRES_USER: docking
      POSTGRES_PASSWORD: docking
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  broker:
    image: valkey/valkey:7
    ports:
      - "6379:6379"

  api:
    build: ./backend
    environment:
      DATABASE_URL: postgresql+psycopg://docking:docking@db:5432/docking
      BROKER_URL: redis://broker:6379/0
      OBJECT_STORE_PATH: /data/object_store
      PROTEIN_LIBRARY_PATH: /protein_library
    volumes:
      - ./data/object_store:/data/object_store
      - ./protein_library:/protein_library
    depends_on:
      - db
      - broker


  worker:
    build: ./worker
    environment:
      DATABASE_URL: postgresql+psycopg://docking:docking@db:5432/docking
      BROKER_URL: redis://broker:6379/0
      OBJECT_STORE_PATH: /data/object_store
      PROTEIN_LIBRARY_PATH: /protein_library
    volumes:
      - ./data/object_store:/data/object_store
      - ./protein_library:/protein_library
    depends_on:
      - db
      - broker

  frontend:
    build: ./frontend
    environment:
      VITE_API_BASE: /simple-docking/api

    depends_on:
      - api

  gateway:
    image: nginx:latest
    ports:
      - "8090:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
